header li {
  margin: 20px;
}
#hero {
  height: 800px;
  background-image: url(/images/places/ocean.jpg);
  background-size: cover;
  background-position: center;
}
#hero-content {
  width: 800px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
#hero-content h1 {
  color: white;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  margin: 0;
}
#hero-content p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 32px;
}
#hero-content a {
  background-color: rgb(250, 251, 0);
  color: black;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgb(67, 68, 68);
}
#hero-content a:hover {
  background-color: rgb(250, 236, 0);
}
#higlights {
  padding: 24px;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
#higlights h2 {
  text-align: center;
  margin: 24px 0;
  color: rgb(59, 64, 64);
  font-size: 40px;
  text-transform: capitalize;
}
#Destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}
.Destination {
  margin: 0 20px;
}

.Destination p {
  text-align: center;
  color: rgb(124, 123, 123);
  font-size: 24pxs;
  text-transform: capitalize;
}

.Destination strong {
  color: rgb(0, 160, 117);
}

.Destination img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
